@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* .nav {
  padding: 2rem 0;
} */

.links-container {
  display: flex;
  justify-content: right;
  padding: 1rem 0;
}

.link-item {
  padding: 0 0.75rem;
  margin: 0 0.25rem;
  text-decoration: none;
  color: black;
  font-size: ;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
}

.hero-text {
  /* padding: 1rem; */
  /* border: lightgray solid 1px; */
  /* border-radius: 1rem; */
  color: white;
  text-align: left;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 0;
}

.hero-subtitle {
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: 0;
}
