@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 2rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navigation Start*/

.links-container {
  display: flex;
  justify-content: right;
  padding: 1rem 0;
}

.link-item {
  padding: 0 0.75rem;
  margin: 0 0.25rem;
  text-decoration: underline;
  text-underline-offset: 0.35em;
  cursor: pointer;
  color: black;
  transition: all 0.5s ease;
}

.link-item:hover {
  transform: scale(1.1);
}

/* Navigation End */

/* Hero Element Start */

.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

.hero-text {
  color: white;
  padding: 0 2rem;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 0;
  background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: 0;
  background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hero Element End */

/* About Element Start */

.about {
  display: flex;
  align-items: center;
  text-align: left;
  height: 100vh;
}

.about-text {
  padding: 0 2rem;
}

/* About Element End */

/* Projects Element Start */

.projects {
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.project-card {
  width: 100%;
  max-width: 300px;
  background-color: white;
}

/* .card-title,
.card-subtitle {
  text-align: center;
  padding: 1rem 0;
  color: black;
} */

.card-title {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #f5f5f5;
  color: #454545;
  text-align: center;
  padding: 1rem 0;
}
.card-subtitle {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 300;
  padding-top: 0.75rem;
  text-align: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.project-btn {
  min-width: 120px;
  margin-top: 0.5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #d5d9d9;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.project-btn a {
  text-decoration: none;
  color: black;
  background-color: none;
}

/* Projects Element End */

/* Contact Me Section Start */

.contact {
  display: flex;
  align-items: center;
  text-align: left;
  height: 100vh;
}

.contact-text {
  padding: 0rem 2rem;
  width: 100%;
}

.contact-subtitle {
  padding-bottom: 1rem;
}

/* Contact Me Section End */

/* Back to Top start */

.back-to-top {
  display: flex;
  padding: 2rem 2rem;
  align-items: end;
}

.back-to-top-btn {
  display: flex;
  text-decoration: none;
  padding: 6px 14px;
  color: black;
  border: 1px solid #d5d9d9;
  border-radius: 6px;
  font-weight: 300;
}

.back-to-top-btn span {
  padding-left: 0.5rem;
}

/* Back to top end */

/* Footer Element Start */
footer {
  display: flex;
  align-items: center;
  height: 10vh;
  border-top: solid lightgray 1px;
}

.footer-text {
  padding-left: 2rem;
}
/* Footer Element End */

/* Buttons Start*/

.btn-white {
  background: none;
  border: 1px solid #d5d9d9;
  transition: all 0.5s ease;
  border-radius: 6px;
  padding: 6px 14px;
  width: 200px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  cursor: pointer;
  margin: 0.25rem 0;
  font-size: medium;
  font-weight: 100;
}

.btn-white:hover {
  transform: scale(1.05);
}

.about-text a {
  margin-right: 1rem;
}

@media (max-width: 769px) {
  .btn-white {
    width: 100%;
    padding: 1rem 0;
    font-size: 1em;
    font-weight: 500;
    color: black;
    outline: none;
  }
  .btn-white:hover {
    transition: none;
  }
  .back-to-top {
    justify-content: end;
  }

  .project-btn {
    min-width: 75%;
  }
}
/* Buttons End*/

/* Animations */

.project-card:nth-child(2) {
  transition-delay: 200ms;
}
.project-card:nth-child(3) {
  transition-delay: 400ms;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  border-radius: 0.5rem;
}
